@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/_font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf') format('otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url("../../assets/_font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Demi.otf") format('otf');
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir Next';
    src: url("../../assets/_font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf") format('otf');
    font-weight: 700;
}