@import '../../global-styles/styles.scss';

.comment__container {
    margin: 0 $mobileMargin;
    @include tablet {
        margin: 0 $tabletMargin;
    }
    @include desktop {
        margin: 0;
        padding-left: $tabletMargin;
    }
}