@import './partials/mixins';
@import './partials/variables';
@import './partials/typography';

* {
    box-sizing: border-box;
    font-family: 'Avenir Next';
    color: $globalTextColor;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}