@import '../../global-styles/styles.scss';

.side-video {
    margin: 0 $mobileMargin $mobileLargeMargin $mobileMargin;
    display: flex;
    &__thumbnail {
        height: 100px;
        min-width: 120px;
        background-image: url('../../assets/images/video-list-1.jpg');
        background-size: cover;
        margin-right: $mobileMargin;
        border-radius: 4px;
    }
    &__text-container {

    }
    &__title {
        margin: 0;
        @include mobileSubheaderFont;
    }
    &__channel {
        @include mobileParagraphFont;
    }
}