@import '../../global-styles/styles.scss';

.hero {
    width: 100%;
    height: 183px;
    background-color: black;
    @include tablet {
        display: flex;
        justify-content: center;
        height: 400px;
    }
    &__video {
        height: 183px;
        width: 100%;
        @include tablet {
            height: 400px;
        }
    }
}