// media queries
@mixin tablet {
    @media (min-width: $tabletWidth) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: $desktopWidth) {
        @content;
    }
}

// button styline
@mixin button {
    height: 48px;
    width: 100%;
    margin: 8px 8px 0 0;
    background-color: $buttonBackgroundColor;
    color: $buttonFontColor;
    font-weight: 700;
    border-radius: 4px;
    border: none;
}

// typography
@mixin mobileHeaderFont {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

@mixin mobileSubheaderFont {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

@mixin mobileParagraphFont {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

@mixin mobileLabelsFont {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: $labelTextColor;
}

@mixin tabletMainHeaderFont {
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;
}

@mixin tabletSecondaryHeaderFont {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

@mixin tabletSubheaderFont {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

@mixin tabletParagraphFont {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

@mixin tabletLabelsFont {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: $labelTextColor;
}