// device widths

$tabletWidth: 768px;
$desktopWidth: 1200px;

// font colors

$globalTextColor: #323232;
$labelTextColor: #AFAFAF;

// border colors

$borderColor: #E1E1E1;

// default image background color

$defaultImageColor: #AFAFAF;

// textfield colors

$textFieldBorderColor: #AFAFAF;
$textFieldBackgroundColor: #FAFAFA;


// button colors

$buttonBackgroundColor: #0095FF;
$buttonFontColor: white;

// margins

$mobileMargin: 0.9rem;
$mobileSmallMargin: 0.4rem;
$mobileLargeMargin: 1.5rem;
$tabletMargin: 1.5rem;
$tabletLargeMargin: 2.4rem;
$desktopMargin: 9rem;

// video controls

$iconBackgroundColor: rgba(0,0,0,0.7);