// device widths

$tabletWidth: 768px;
$desktopWidth: 1200px;

// font colors

$globalTextColor: #323232;
$labelTextColor: #AFAFAF;

// border colors

$borderColor: #E1E1E1;

// default image background color

$defaultImageColor: #AFAFAF;

// textfield colors

$textFieldBorderColor: #AFAFAF;
$textFieldBackgroundColor: #FAFAFA;


// button colors

$buttonBackgroundColor: #0095FF;
$buttonFontColor: white;

// margins

$mobileMargin: 16px;
$mobileSmallMargin: 8px;
$mobileLargeMargin: 24px;
$tabletMargin: 24px;
$tabletLargeMargin: 40px;
$desktopMargin: 180px;