@import '../../global-styles/styles.scss';

.main {
    @include desktop {
        display: flex;
        justify-content: space-between;
        margin: 0 $desktopMargin;
        &__video-details {
            width: 73%;
        }
    }
}