@import '../../global-styles/styles.scss';

.comment {
    &__card {
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid $borderColor;
        @include desktop {

        }
    }
    &__image-container {

    }
    &__image {
    
    }
    &__image-false {
        margin-top: $mobileLargeMargin;
    }
    &__text-container {
        margin-top: $mobileSmallMargin;
    }
    &__heading-container {
        display: flex;
        justify-content: space-between;
        @include desktop {
            justify-content: flex-start;
            align-items: center;
        }
    }
    &__name {
        @include mobileParagraphFont;
        font-weight: 700;
        @include tablet {
            @include tabletParagraphFont;
            font-weight: 700;
        }
        @include desktop {
            margin-right: 8px;
        }
    }
    &__timestamp {
        @include mobileLabelsFont;
        @include tablet {
            @include tabletLabelsFont;
        }
    }
    &__description {
        @include mobileParagraphFont;
        @include tablet {
            @include tabletParagraphFont;
        }
    }
}