@import '../../global-styles/styles.scss';

.comment {
    &__card {
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid $borderColor;
    }
    &__image-container {

    }
    &__image {
    
    }
    &__image-false {
        margin-top: $mobileLargeMargin;
    }
    &__text-container {
        margin-top: $mobileSmallMargin;
    }
    &__heading-container {
        display: flex;
        justify-content: space-between;
    }
    &__name {
        @include mobileParagraphFont;
        font-weight: 700;
    }
    &__timestamp {
        @include mobileLabelsFont;
    }
    &__description {
        @include mobileParagraphFont;
    }
}